swagger: '2.0'
info:
  description: RESTful API for the Denner Wineshop
  version: 2.0.0
  title: Denner Shop Web Service
  contact:
    name: DETAIL NET
    email: support+denner-shop-api@detailnet.ch
host: denner-shop-api-v2.detailnet.ch
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  appKey:
    type: apiKey
    description: Application key
    name: App-Key
    in: header
paths:
  ### Wines
  /wines:
    get:
      summary: List all wines currently targetted for the Wineshop
      description: |
        Use this operation to get a list of all wines targetted for the Wineshop.
      tags:
        - wine
      operationId: listWines
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/FilterParam'
        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/ArticlesResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 1
              total_items: 1
              articles:
              -
                id: '051273'
                name: Mandorla Primitivo IGT Puglia
                title:
                  -
                    locale: de
                    value: Mandorla Primitivo di Puglia IGT
                  -
                    locale: fr
                    value: Mandorla Primitivo di Puglia IGT
                  -
                    locale: it
                    value: Mandorla Primitivo di Puglia IGT
                description:
                  -
                    locale: de
                    value: 2013, Apulien, Italien, 6 x 75 cl
                  -
                    locale: fr
                    value: 2013, les Pouilles, Italie, 6 x 75 cl
                  -
                    locale: it
                    value: 2013, Puglia, Italia, 6 x 75 cl
                article_group:
                  id: 0c309757-5432-4652-8201-ec35f31c5260
                  code: 60-56
                  name: Italien Rot 70 cl
                  parent:
                    id: 3f3df00f-6a7e-49a9-8eca-a36727ca4977
                    code: '60'
                    name: Weine
                online_group:
                  id: a2664d3a-93b4-4277-9e6e-c95ad8b6c6ee
                  code: 2-9
                  disabled: false
                  allow_featuring: true
                  allow_promotion: true
                  allow_background: true
                  title:
                    -
                      locale: de
                      value: Wein/Champagner
                    -
                      locale: fr
                      value: Vins/champagnes
                    -
                      locale: it
                      value: Vino/champagne
                  parent:
                    id: 8fd653c3-a86b-4529-bbb5-58d06919d484
                    code: '2'
                    disabled: false
                    allow_featuring: true
                    allow_promotion: true
                    allow_background: true
                    title:
                      -
                        locale: de
                        value: Getränke
                      -
                        locale: fr
                        value: Boissons
                      -
                        locale: it
                        value: Bevande
                barcodes:
                  -
                    value: 086003000094
                    type: UPC12
                    quantity: 1
                    master: false
                  -
                    value: 086003004344
                    type: UPC12
                    quantity: 6
                    master: false
                  -
                    value: '5010186016172'
                    type: EAN13
                    quantity: 1
                    master: true
                  -
                    value: 0860030043442
                    type: EAN13
                    quantity: 6
                    master: true
                content:
                  size: 0.75
                  label:
                    -
                      locale: de
                      value: cl
                    -
                      locale: fr
                      value: cl
                    -
                      locale: it
                      value: cl
                  text:
                    -
                      locale: de
                      value: 75 cl
                    -
                      locale: fr
                      value: 75 cl
                    -
                      locale: it
                      value: 75 cl
                base:
                  text:
                    -
                      locale: de
                      value: 10 cl
                    -
                      locale: fr
                      value: 10 cl
                    -
                      locale: it
                      value: 10 cl
                eco_labels:
                  -
                    id: 66d94617-bbd7-477e-ae66-183deb67ba5b
                    code: bio
                    name: Bio
                wine:
                  country:
                    id: IT
                    title:
                      -
                        locale: de
                        value: Italien
                      -
                        locale: fr
                        value: Italie
                      -
                        locale: it
                        value: Italia
                    flag:
                      image_url: https://denner-assets.s3-eu-west-1.amazonaws.com/flags/IT.png
                  region:
                    id: b19c42bf-ed78-46ff-ad6f-fc688a059e6a
                    title:
                      -
                        locale: de
                        value: Apulien
                      -
                        locale: fr
                        value: Les Pouilles
                      -
                        locale: it
                        value: Puglia
                  type:
                    id: 2
                    title:
                      -
                        locale: de
                        value: Rotwein
                      -
                        locale: fr
                        value: Vin rouge
                      -
                        locale: it
                        value: Vino rosso
                  online_specials:
                    -
                      id: rarity
                      title:
                        -
                          locale: de
                          value: Rärität
                        -
                          locale: fr
                          value: Rareté
                        -
                          locale: it
                          value: Rarità
                  box:
                    code: KA
                    batch_size: 3
                  year: 2013
                  food_matches:
                    -
                      id: PASTA
                      titles:
                        -
                          locale: de
                          value: Pasta
                        -
                          locale: fr
                          value: Pâtes
                        -
                          locale: it
                          value: Pasta
                    -
                      id: MEAT-SAUCE
                      titles:
                        -
                          locale: de
                          value: Fleisch mit würzigen Saucen
                        -
                          locale: fr
                          value: Viande aux sauces relevées
                        -
                          locale: it
                          value: Carni accompagnate da salse aromatiche
                  grapes:
                    -
                      id: PRIMITIVO
                      title:
                        -
                          locale: de
                          value: Primitivo
                        -
                          locale: fr
                          value: Primitivo
                        -
                          locale: it
                          value: Primitivo
                      sort_index: 0
                  character:
                    -
                      locale: de
                      value: Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen.
                    -
                      locale: fr
                      value: Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse.
                    -
                      locale: it
                      value: Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato.
                  temperature:
                    -
                      locale: de
                      value: 16-18 °C
                    -
                      locale: fr
                      value: 16-18 °C
                    -
                      locale: it
                      value: 16-18 °C
                  medals:
                    -
                      expert:
                        id: EXPOVINA
                        title:
                          -
                            locale: de
                            value: Expovina
                          -
                            locale: fr
                            value: Expovina
                          -
                            locale: it
                            value: Expovina
                      year: 2016
                      wine_year: 2013
                      valuation: Gold
                  storage:
                    -
                      locale: de
                      value: 3 Jahre
                    -
                      locale: fr
                      value: 3 ans
                    -
                      locale: it
                      value: 3 anni
                  grower:
                    id: 447ff1e5-798c-4ac8-8ff2-98bfbb4700bd
                    name: Thomas Weinmacher
                    description:
                      -
                        locale: de
                        value: Es liegt in der Tradition der Familie Weinmacher, hervorragende Weine
                          in Eichenfässern zu produzieren. ...
                      -
                        locale: fr
                        value: ''
                      -
                        locale: it
                        value: ''
                    picture:
                      id: 3c8cc89e-6350-4a8a-8854-d2feafc9b62e
                      cdn_url: https://denner.imgix.net/assets/74f174ba-109d-4555-8f32-fd4951232532/weinmacher-mood.png
                      created_on: '2017-10-19T10:20:57+01:00'
                    url: https://www.weinmacher-weine.com/
                  rating:
                    value: 4.45
                    total: 11
                    valid: true
                  shop:
                    url: https://www.denner.ch/skuredirect/051273/
                    for_sale: true
                    stock:
                      value: -15
                      code: 2
                      message:
                        -
                          locale: de
                          value: Derzeit nicht bestellbar
                        -
                          locale: fr
                          value: Actuellement pas disponible
                        -
                          locale: it
                          value: Attualmente non disponibile
                    quantity: 6
                    compared: false
                    prices:
                      sales: 59.4
                      instead: 68.4
                      final: true
                      by_quantity:
                        -
                          quantity: 1
                          sales: 9.9
                          instead: 11.4
                          final: true
                        -
                          quantity: 6
                          sales: 59.4
                          instead: 68.4
                          final: true
                    discount:
                      -
                        locale: de
                        value: 13%
                      -
                        locale: fr
                        value: 13%
                      -
                        locale: it
                        value: 13%
                    title:
                      -
                        locale: de
                        value: Mandorla Primitivo di Puglia IGT 6 x 75 cl
                      -
                        locale: fr
                        value: Mandorla Primitivo di Puglia IGT 6 x 75 cl
                      -
                        locale: it
                        value: Mandorla Primitivo di Puglia IGT 6 x 75 cl
                    pictures:
                      -
                        id: 5983a33d-ac61-49a8-a836-43259e78e9d0
                        cdn_url: https://denner.imgix.net/assets/103354f2-1fbc-47e9-a40a-bf93b04e1680/web/051273_c_K_DL.png
                        quantity: 1
                        created_on: '2016-01-07T15:42:19+02:00'
                        view:
                          id: front
                      -
                        id: dabfe014-eb50-4871-9c96-e49324af7493
                        cdn_url: https://denner.imgix.net/assets/103354f2-1fbc-47e9-a40a-bf93b04e1680/web/051273_c_K_DL_back.png
                        quantity: 1
                        created_on: '2016-01-07T15:49:03+02:00'
                        view:
                          id: back
                    notes:
                      -
                        locale: de
                        value: "<b>Allgemeiner </b>Hinweis"
                      -
                        locale: fr
                        value: "<ul><li>​Allgemeiner <i>Hinweis</i></li></ul>"
                      -
                        locale: it
                        value: <font color="#ff0000">​Allgemeiner Hinweis</font>

  /wines/{article_id}/appraisals:
    get:
      summary: List the appraisals of given wine
      description: >
        Use this operation to get a list of all appraisals (Bewertungen) for a specific wine.
      tags:
        - wine
      operationId: listAppraisalsByWine
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/ArticleIdPathParam'
#        - $ref: '#/parameters/SortSimpleParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/AppraisalsResponse'
          examples:
            application/json:

              total_appraisals: 15
              appraisals:
                -
                  id: "7063984c-4eea-4abe-825b-e80612ba89c3"
                  created_on: "2015-10-30T10:16:41+02:00"
                  wine_year: 2013
                  title: "un très très bon vin"
                  description: "mais ce n'est pas du zinfandel !! c'est du PRIMITIVO !! le cépage ORIGINAL !!! Denner, qu'est ce qui vous arrive ???"
                  response: "Merci!"
                  rating: 5
                  display_name: "Hans M."
                  city: "Cossonay"
                  language: "fr"
                  article:
                    id: 051901
                  upvotes: 0
                  downvotes: 1
                -
                  id: "a8c82c69-e975-4d3b-b0ba-aae6ed961cd7"
                  created_on: "2015-10-20T14:37:56+02:00"
                  wine_year: null
                  title: "Ein Primitivo passt immer."
                  description: null
                  rating: 4
                  display_name: "Michelle M."
                  city: "Zürich"
                  language: "de"
                  article:
                    id: 051901
                  upvotes: 2
                  downvotes: 0
    post:
      summary: Create a new appraisal for the given wine
      description: >
        Use this operation to create a new appraisal (Bewertung) for a specific wine.
      tags:
        - wine
      operationId: createAppraisal
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/ContentTypeHeader'
#        - $ref: '#/parameters/AcceptLanguageHeader'
        - $ref: '#/parameters/ArticleIdPathParam'
        - name: appraisal
          description: >
            Data for the appraisal
          in: body
          schema:
            $ref: '#/definitions/NewAppraisal'
          required: true

      responses:
        201:
          description: Successful creation
          schema:
            $ref: '#/definitions/Appraisal'
          examples:
            application/json:

              id: "7063984c-4eea-4abe-825b-e80612ba89c3"
              created_on: "2015-10-30T10:16:41+02:00"
              wine_year: 2013
              title: "un très très bon vin"
              description: "mais ce n'est pas du zinfandel !! c'est du PRIMITIVO !! le cépage ORIGINAL !!! Denner, qu'est ce qui vous arrive ???"
              rating: 5
              display_name: "Hans M."
              city: "Cossonay"
              language: "fr"

  /wines/{article_id}/appraisals/{appraisal_id}/votes:
    post:
      summary: Vote on the given appraisal
      description: >
        Use this operation to create a new vote for a specific appraisal.
      tags:
        - wine
      operationId: createVote
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/ContentTypeHeader'
        - $ref: '#/parameters/ArticleIdPathParam'
        - $ref: '#/parameters/AppraisalIdPathParam'
        - name: vote
          description: >
            Data for the vote
          in: body
          schema:
            $ref: '#/definitions/NewVote'
          required: true

      responses:
        201:
          description: Successful creation
          schema:
            $ref: '#/definitions/Vote'
          examples:
            application/json:

              id: "d550a8cc-965d-4048-8a7f-12d2a3c0db0b"
              created_on: "2018-01-09T08:45:16+00:00"
              type: "up"
              appraisal:
                id: "9bbfabf0-3c05-4a84-ad91-b73a1c268c7e"
                upvotes: 2
                downvotes: 1
              article:
                id: "051296"

  ### Wine growers
  /wine-growers:
    get:
      summary: List wine growers
      description: >
        Use this operation to get a list of all wine growers (Winzer).
      tags:
        - wineGrower
      operationId: listWineGrowers
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/FilterParam'
        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/WineGrowersResponse'
          examples:
            application/json:

              total_items: 15
              wine_growers:
                -
                  id: 447ff1e5-798c-4ac8-8ff2-98bfbb4700bd
                  name: Thomas Weinmacher
                  description:
                    -
                      locale: de
                      value: Es liegt in der Tradition der Familie Weinmacher, hervorragende Weine in
                        Eichenfässern zu produzieren. ...
                    -
                      locale: fr
                      value: ''
                    -
                      locale: it
                      value: ''
                  picture:
                    id: 3c8cc89e-6350-4a8a-8854-d2feafc9b62e
                    cdn_url: https://denner.imgix.net/assets/74f174ba-109d-4555-8f32-fd4951232532/weinmacher-mood.png
                    created_on: '2017-10-19T10:20:57+01:00'
                  url: https://www.weinmacher-weine.com/

  ### Appraisals
  /appraisals:
    get:
      summary: List appraisals
      description: >
        Use this operation to get a list of all appraisals (Bewertungen).
      tags:
        - appraisal
      operationId: listAppraisals
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/SortSimpleParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
        - name: f.id
          description: Filter by ID
          in: query
          type: string
          required: false
        - name: f.wine_id
          description: Filter by wine ID
          in: query
          type: string
          required: false
        - name: f.shop_user_id
          description: Filter by Wineshop user ID
          in: query
          type: integer
          format: int32
          required: false
        - name: f.email
          description: Filter by email address
          in: query
          type: string
          required: false
        - name: f.source
          description: Filter by source
          in: query
          type: string
          required: false
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/AppraisalsResponse'
          examples:
            application/json:

              total_appraisals: 15
              appraisals:
                -
                  id: "7063984c-4eea-4abe-825b-e80612ba89c3"
                  created_on: "2015-10-30T10:16:41+02:00"
                  wine_year: 2013
                  title: "un très très bon vin"
                  description: "mais ce n'est pas du zinfandel !! c'est du PRIMITIVO !! le cépage ORIGINAL !!! Denner, qu'est ce qui vous arrive ???"
                  response: "Merci!"
                  rating: 5
                  display_name: "Hans M."
                  city: "Cossonay"
                  language: "fr"
                  article:
                    id: 051901
                  upvotes: 0
                  downvotes: 1
                -
                  id: "a8c82c69-e975-4d3b-b0ba-aae6ed961cd7"
                  created_on: "2015-10-20T14:37:56+02:00"
                  wine_year: null
                  title: "Ein Primitivo passt immer."
                  description: null
                  rating: 4
                  display_name: "Michelle M."
                  city: "Zürich"
                  language: "de"
                  article:
                    id: 051901
                  upvotes: 2
                  downvotes: 0

  ### Sweepstake participants
  /sweepstake-participants:
    post:
      summary: Create a new sweepstake participant
      description: >
        Use this operation to create a sweepstake participant (Gewinnspielteilnehmer).
      tags:
        - other
      operationId: createSweepstakeParticipant
#      security:
#        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/ContentTypeHeader'
#        - $ref: '#/parameters/AcceptLanguageHeader'
        - name: participant
          description: >
            Data for the participant
          in: body
          schema:
            $ref: '#/definitions/NewSweepstakeParticipant'
          required: true

      responses:
        201:
          description: Successful creation
          schema:
            $ref: '#/definitions/SweepstakeParticipant'
          examples:
            application/json:

              id: "ed20c828-17b4-4a19-b403-ae223e1cfece"
              created_on: "2016-05-09T13:30:29+00:00"
              display_name: "Michelle M."
              city: "Zurich"
              language: "de"

parameters:
  PageParam:
    name: page
    description: >
      The page number.
      Default: 1
    in: query
    type: integer
    required: false
    format: int32
    minimum: 0
    default: 1
  PageSizeParam:
    name: page_size
    description: >
      The page size.
      Default: 10

      To disable pagination (when supported) send "-1".
    in: query
    type: integer
    required: false
    format: int32
    default: 10
  SortParam:
    name: sort
    description: >
      Sort the results, e.g. "sort=[{"property":"name","direction":"desc"}]" will sort by name (Z to A)
    in: query
    type: string
    required: false
  SortSimpleParam:
    name: sort
    description: >
      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
    in: query
    type: string
    required: false
  ArticleIdPathParam:
    name: article_id
    description: The unique identifier of an article
    in: path
    type: string
    required: true
    pattern: '/^\d{6}$/'
  AppraisalIdPathParam:
    name: appraisal_id
    description: The unique identifier of an appraisal
    in: path
    type: string
    required: true
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
  FilterParam:
    name: filter
    in: query
    type: string
    required: false
    description: |
      Filters: JSON array of Filter object, urlencoded.

      Filter object:
      - property: Property to filter on.
      - operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).
      - type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).
      - value: Value. Must be of the defined type.

      Examples:
      - [{"property":"id","operator":"in","type":"array","value":["7627150d-36bd-4867-89b2-091800a03d24","58afec5c-ece9-4b66-bc55-00d6dc1b65b8"]}]
      - [{"property":"in_shop","operator":"eq","type":"boolean","value":true}]
  AcceptHeader:
    name: Accept
    in: header
    type: string
    required: false
    default: application/json
    description: >
      Accepted content type (supported is "application/json")
#  AcceptLanguageHeader:
#    name: Accept-Language
#    in: header
#    type: string
##    pattern: '/^(de|fr|it)$/'
#    required: false
#    default: de
#    description: >
#      Accepted locale (supported are "de", "fr", and "it")
  ContentTypeHeader:
    name: Content-Type
    in: header
    type: string
    required: false
    default: application/json
    description: >
      Request body content type (supported is "application/json")

definitions:
  ### Common
  UUIDv4:
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
    description: Unique identifier

  SortIndex:
    type: integer
    format: int32
    minimum: 0
    description: Index for sorting

  Locale:
    type: string
    pattern: '/^(de|fr|it)$/'
    description: Locale

  Translation:
    type: object
    properties:
      locale:
        $ref: '#/definitions/Locale'
      value:
        type: string
        description: Translated text value

  Url:
    type: string
    description: Web URL address
#    pattern: @todo Fixed pattern?

  CountryFlag:
    type: object
    description: Country flag
    properties:
      image_url:
        $ref: '#/definitions/Url'

  Country:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      title:
        $ref: '#/definitions/Translations'
      flag:
        $ref: '#/definitions/CountryFlag'
    description: Country

  Date:
    type: string
    format: date
    description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'

#  Time:
#    type: string
#    pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
#    description: 'Time; Format HH:MM:SS'

  Year:
    type: integer
    format: int32
    minimum: 1800
    description: Year

  Price:
    type: number
    format: float
    minimum: 0
    description: Price in CHF

  Quantity:
    type: integer
    format: int32
    minimum: 0
    description: Quantity

  ContentSize:
    type: number
    format: float
    minimum: 0
    description: Content size

#  Removed because we cannot calculate a valid size, neither display a standardized unit
#  ContentUnit:
#    # @todo Define an pattern or standard reference (e.g. ISO 80000-3)?
#    type: integer
#    format: int32
#    description: Content unit code from navision

#  Cooling:
#    type: number
#    format: int32
#    minimum: 0
#    description: Cooling type (0 = no cooling, 1 = refrigerated, 2 = frozen)

  ### Article group
  AssignedArticleGroup:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        pattern: '/^\d{2}(-\d{2,3})?$/'
        description: Navision article group code (e.g. '01', '20', '01-60', '38-998')
      name:
        type: string
        description: Article group name
      parent:
        $ref: '#/definitions/AssignedArticleGroup'

  ### Eco label
  EcoLabel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        description: Navision identification code
      name:
        type: string
        description: German name for the eco label

  ### Purchasing department
#  PurchasingDepartment:
#    type: string
#    pattern: '/^[A-Z]{1,2}$/'
#    description: Denner purchasing depatment code (e.g. 'BC', 'DD', 'F', 'FG', 'FR', 'G', 'NF', 'TW', 'W')

  ### Article
  Article:
    type: object
    properties:
      id:
        type: string
        pattern: '/^\d{6}$/'
        description: Navision article code
      name:
        type: string
        description: Article name
      title:
        $ref: '#/definitions/Translations'
      description:
        $ref: '#/definitions/Translations'
#      composite_description:
#        $ref: '#/definitions/Translations'
      article_group:
        $ref: '#/definitions/AssignedArticleGroup'
#      purchasing_department:
#        $ref: '#/definitions/PurchasingDepartment'
      online_group:
        $ref: '#/definitions/AssignedOnlineGroup'
#      prices:
#        $ref: '#/definitions/ArticlePrices'
      barcodes:
        $ref: '#/definitions/Barcodes'
      content:
        $ref: '#/definitions/Content'
      base:
        $ref: '#/definitions/BaseContent'
#      cooling:
#        $ref: '#/definitions/Cooling'
      eco_labels:
        $ref: '#/definitions/EcoLabels'
#      packshots:
#        $ref: '#/definitions/Packshots'
      wine:
        $ref: '#/definitions/ArticleWine'

  ArticlePrices:
    type: object
    properties:
      sales:
        $ref: '#/definitions/Price'
      list:
        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'
      base:
        $ref: '#/definitions/Price'
      final:
        type: boolean
        description: Is the price final?
      by_quantity:
        $ref: '#/definitions/QuantityPrices'

  QuantityPrices:
    type: array
    items:
      $ref: '#/definitions/QuantityPrice'

  QuantityPrice:
    type: object
    properties:
      quantity:
        $ref: '#/definitions/Quantity'
      sales:
        $ref: '#/definitions/Price'
      list:
        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'
      final:
        type: boolean
        description: Is the price final?

  Content:
    type: object
    properties:
      size:
        $ref: '#/definitions/ContentSize'
#      unit:
#        $ref: '#/definitions/ContentUnit'
      label:
        $ref: '#/definitions/Translations'
      text:
        $ref: '#/definitions/Translations'

  BaseContent:
    type: object
    properties:
#      Removed because we cannot calculate a valid size, neither display a standardized unit
#      size:
#        $ref: '#/definitions/ContentSize'
#      unit:
#        $ref: '#/definitions/ContentUnit'
      text:
        $ref: '#/definitions/Translations'

  ArticleWine:
    type: object
    properties:
      country:
        $ref: '#/definitions/Country'
      region:
        $ref: '#/definitions/Region'
      type:
        $ref: '#/definitions/WineType'
      online_specials:
        $ref: '#/definitions/OnlineSpecials'
      box:
        $ref: '#/definitions/WineBox'
      year:
        $ref: '#/definitions/Year'
      food_matches:
        $ref: '#/definitions/FoodMatches'
      grapes:
        $ref: '#/definitions/Grapes'
      character:
        $ref: '#/definitions/Translations'
      temperature:
        $ref: '#/definitions/Translations'
      medals:
        $ref: '#/definitions/Medals'
      storage:
        $ref: '#/definitions/Translations'
      grower:
        $ref: '#/definitions/WineGrowers'
      rating:
        $ref: '#/definitions/Rating'
      shop:
        $ref: '#/definitions/WineShop'

  FoodMatch:
    type: object
    properties:
      id:
        type: string
        description: ID
      titles:
        $ref: '#/definitions/Translations'
      score:
        format: int32
        minimum: 0
        maximum: 4
        description: Given score (0 = no match; 1 = slight match; 2 = good match; 3 = very good match; 4 = perfect match)

  Grape:
    type: object
    properties:
      id:
        type: string
        description: ID
      titles:
        $ref: '#/definitions/Translations'
      sort_index:
        $ref: '#/definitions/SortIndex'

  Medal:
    type: object
    properties:
      expert:
        $ref: '#/definitions/Expert'
      year:
        $ref: '#/definitions/Year'
      wine_year:
        $ref: '#/definitions/Year'
      valuation:
        type: string
        description: Given valuation/rating (e.g. Gold)

  Expert:
    type: object
    properties:
      id:
        type: string
        description: ID
      titles:
        $ref: '#/definitions/Translations'
      sort_index:
        $ref: '#/definitions/SortIndex'

  WineShop:
    type: object
    properties:
      url:
        $ref: '#/definitions/Url'
      for_sale:
        type: boolean
        description: Is the wine for sale (can it be bought)?
      stock:
        $ref: '#/definitions/Stock'
      quantity:
        $ref: '#/definitions/Quantity'
      compared:
        type: boolean
        description: Is the wine's instead price compared externally (Konkurrenzvergleich)?
      prices:
        $ref: '#/definitions/ArticlePrices'
      discount:
        $ref: '#/definitions/Translations'
      title:
        $ref: '#/definitions/Translations'
      pictures:
        $ref: '#/definitions/Packshots'
      notes:
        $ref: '#/definitions/Translations'

  Region:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        $ref: '#/definitions/Translations'

  WineType:
    type: object
    properties:
      id:
        type: integer
        format: int32
        minimum: 0
        description: Navision wine type code
      title:
        $ref: '#/definitions/Translations'

  Rating:
    type: object
    properties:
      value:
        type: number
        format: float
        minimum: 0
        maximum: 5
        description: Rating value
      total:
        type: integer
        format: int32
        minimum: 0
        description: Ratng count
      valid:
        type: boolean
        description: Is a valid rating?

  Stock:
    type: object
    properties:
      value:
        type: integer
        format: int32
        description: Navision stock count, might be negative
      code:
        type: integer
        format: int32
        minimum: 0
        description: Navision stock code
      message:
        $ref: '#/definitions/Translations'

  Barcode:
    type: object
    properties:
      value:
        type: string
        description: Barcode text value (pattern according to type)
      type:
        type: string
        description: Barcode type code (e.g. 'EAN13', 'UPC12', 'ITF14', 'EAN8', 'PLU')
      quantity:
        $ref: '#/definitions/Quantity'
      master:
        type: boolean
        description: Is master barcode?

  WineBox:
    type: object
    properties:
      code:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Denner box type code (e.g. 'KA', 'HA', 'HB')
      batch_size:
        type: integer
        format: int32
        minimum: 0
        description: Batch size

  Asset:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      cdn_url:
        $ref: '#/definitions/Url'
      created_on:
        $ref: '#/definitions/Date'

  Packshot:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      cdn_url:
        $ref: '#/definitions/Url'
      quantity:
        $ref: '#/definitions/Quantity'
      created_on:
        $ref: '#/definitions/Date'
      view:
        $ref: '#/definitions/PackshotView'

  PackshotView:
    type: object
    properties:
      id:
        type: string
        description: View ID

  ### Online group
  AssignedOnlineGroup:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision online group code
      disabled:
        type: boolean
        description: Is the group disabled?
      allow_featuring:
        type: boolean
        description: Does the group allow the assigned articles to be featured (i.e. displayed on front/main/home page)?
      allow_promotion:
        type: boolean
        description: Does the group allow the assigned articles to be promoted (i.e. displayed on a promotional page)?
      allow_background:
        type: boolean
        description: Does the group allow the assigned articles to be displayed with a background (i.e. displayed on a page with a deceptive/trivializing background)?
      title:
        $ref: '#/definitions/Translations'
      parent:
        $ref: '#/definitions/AssignedOnlineGroup'

  ### Online special
  OnlineSpecial:
    type: object
    properties:
      id:
        type: string
        description: Unique ID
      sort_index:
        $ref: '#/definitions/SortIndex'
      title:
        $ref: '#/definitions/Translations'

  ### Wine grower
  WineGrower:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      name:
        type: string
        description: Name
      description:
        $ref: '#/definitions/Translations'
      picture:
        $ref: '#/definitions/Asset'
      url:
        $ref: '#/definitions/Url'

  ### Appraisal
  Appraisal:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      created_on:
        type: string
        format: date-time
        description: Timestamp
      wine_year:
        $ref: '#/definitions/Year'
      title:
        type: string
        description: Title
      description:
        type: string
        description: Description
      response:
        type: string
        description: Denner's response
      rating:
        type: integer
        format: int32
        minimum: 1
        maximum: 5
        description: Given rating
      display_name:
        type: string
        description: Person's (public) name
      city:
        type: string
        description: Person's city
      language:
        type: string
        description: Locale
      article:
        $ref: '#/definitions/AppraisalArticle'
      upvotes:
        type: integer
        format: int32
        minimum: 0
        description: Number of up-votes
      downvotes:
        type: integer
        format: int32
        minimum: 0
        description: Number of down-votes

  AppraisalArticle:
    type: object
    properties:
      id:
        type: string
        pattern: '/^\d{6}$/'
        description: Navision article code

  NewAppraisal:
    type: object
    properties:
      wine_year:
        $ref: '#/definitions/Year'
      title:
        type: string
        description: Title
      description:
        type: string
        description: Description
      rating:
        type: integer
        format: int32
        minimum: 1
        maximum: 5
        description: Given rating
      firstname:
        type: string
        description: Person's first name
      lastname:
        type: string
        description: Person's last name
      address:
        type: string
        description: Person's address
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Person's ZIP code
      city:
        type: string
        description: Person's city
      email:
        type: string
        description: Person's email address
      gender:
        type: string
        description: Person's gender (either "male" or "female")
      shop_user_id:
        type: integer
        description: Identifier for the person's Wineshop user account
      language:
        type: string
        description: Locale
    required:
      - title
      - rating
      - firstname
      - lastname
      - address
      - zip_code
      - city
      - email
      - gender
      - language
    example:
      application/json:

        wine_year: 2013
        title: "un très très bon vin"
        description: "mais ce n'est pas du zinfandel !! c'est du PRIMITIVO !! Denner, qu'est ce qui vous arrive ???"
        rating: 5
        firstname: "Isabelle"
        lastname: "Rossetti"
        address: "3 rue du Temple"
        zip_code: "1304"
        city: "Cossonay"
        email: "email@gmx.ch"
        gender: "female"
        shop_user_id: 123456789
        language: "fr"

  ### Vote
  Vote:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      created_on:
        type: string
        format: date-time
        description: Timestamp
      type:
        type: string
        description: Type ("up" or "down")
      appraisal:
        $ref: '#/definitions/VoteAppraisal'
      article:
        $ref: '#/definitions/VoteArticle'

  VoteAppraisal:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      upvotes:
        type: integer
        format: int32
        minimum: 0
        description: Number of up-votes after this vote
      downvotes:
        type: integer
        format: int32
        minimum: 0
        description: Number of down-votes after this vote

  VoteArticle:
    type: object
    properties:
      id:
        type: string
        pattern: '/^\d{6}$/'
        description: Navision article code

  NewVote:
    type: object
    properties:
      type:
        type: string
        description: Type ("up" or "down")
      shop_user_id:
        type: integer
        description: Identifier for the person's Wineshop user account
    required:
      - type
      - shop_user_id
    example:
      application/json:

        type: "up"
        shop_user_id: 123456789

  ### Sweepstake participant
  SweepstakeParticipant:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      created_on:
        type: string
        format: date-time
        description: Timestamp
      display_name:
        type: string
        description: Person's (public) name
      city:
        type: string
        description: Person's city
      language:
        type: string
        description: Locale

  NewSweepstakeParticipant:
    type: object
    properties:
      firstname:
        type: string
        description: Person's first name
      lastname:
        type: string
        description: Person's last name
      address:
        type: string
        description: Person's address
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Person's ZIP code
      city:
        type: string
        description: Person's city
      email:
        type: string
        description: Person's email address
      gender:
        type: string
        description: Person's gender (either "male" or "female")
      shop_user_id:
        type: integer
        description: Identifier for the person's Wineshop user account
      language:
        type: string
        description: Locale
    required:
      - firstname
      - lastname
      - address
      - zip_code
      - city
      - email
      - gender
      - language
    example:
      application/json:

        firstname: "Michelle"
        lastname: "Muster"
        address: "Bahnhofstrasse 7"
        zip_code: "8034"
        city: "Zurich"
        email: "email@gmx.ch"
        gender: "female"
        shop_user_id: 123456789
        language: "de"

  ### Collections
  Translations:
    type: array
    items:
      $ref: '#/definitions/Translation'

  EcoLabels:
    type: array
    items:
      $ref: '#/definitions/EcoLabel'

  Packshots:
    type: array
    items:
      $ref: '#/definitions/Packshot'

  Barcodes:
    type: array
    items:
      $ref: '#/definitions/Barcode'

  Articles:
    type: array
    items:
      $ref: '#/definitions/Article'

  OnlineSpecials:
    type: array
    items:
      $ref: '#/definitions/OnlineSpecial'

  FoodMatches:
    type: array
    items:
      $ref: '#/definitions/FoodMatch'

  Grapes:
    type: array
    items:
      $ref: '#/definitions/Grape'

  Medals:
    type: array
    items:
      $ref: '#/definitions/Medal'

  WineGrowers:
    type: array
    items:
      $ref: '#/definitions/WineGrower'

  Appraisals:
    type: array
    items:
      $ref: '#/definitions/Appraisal'

  ### Responses
  ArticlesResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      articles:
        $ref: '#/definitions/Articles'

  WineGrowersResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      wine_growers:
        $ref: '#/definitions/WineGrowers'

  AppraisalsResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
      total_appraisals:
        description: The number of items on all pages
        type: integer
        format: int32
      appraisals:
        $ref: '#/definitions/Appraisals'
