swagger: '2.0'
info:
  description: RESTful API for the Denner Wineshop
  version: 1.0.0
  title: Denner Shop Web Service
  contact:
    name: DETAIL NET
    email: support+denner-shop-api@detailnet.ch
host: denner-shop-api-v1.detailnet.ch
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  ### Wines
  /wines/{article_id}/appraisals:
    get:
      summary: List the appraisals of given wine
      description: >
        Use this operation to get a list of all appraisals (Bewertungen) for a specific wine.
      tags:
        - wine
      operationId: listAppraisalsByWine
      parameters:
        - $ref: '#/parameters/AcceptHeader'
#        - $ref: '#/parameters/AcceptLanguageHeader'
        - $ref: '#/parameters/ArticleIdPathParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/AppraisalsResponse'
          examples:
            application/json:

              total_appraisals: 15
              appraisals:
                -
                  id: "7063984c-4eea-4abe-825b-e80612ba89c3"
                  created_on: "2015-10-30T10:16:41+02:00"
                  wine_year: 2013
                  title: "un très très bon vin"
                  description: "mais ce n'est pas du zinfandel !! c'est du PRIMITIVO !! le cépage ORIGINAL !!! Denner, qu'est ce qui vous arrive ???"
                  rating: 5
                  display_name: "Hans M."
                  city: "Cossonay"
                  language: "fr"
                -
                  id: "a8c82c69-e975-4d3b-b0ba-aae6ed961cd7"
                  created_on: "2015-10-20T14:37:56+02:00"
                  wine_year: null
                  title: "Ein Primitivo passt immer."
                  description: null
                  rating: 4
                  display_name: "Michelle M."
                  city: "Zürich"
                  language: "de"
    post:
      summary: Create a new appraisals for the given wine
      description: >
        Use this operation to create a new appraisal (Bewertung) for a specific wine.
      tags:
        - wine
      operationId: createAppraisal
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/ContentTypeHeader'
#        - $ref: '#/parameters/AcceptLanguageHeader'
        - $ref: '#/parameters/ArticleIdPathParam'
        - name: appraisal
          description: >
            Data for the appraisal
          in: body
          schema:
            $ref: '#/definitions/NewAppraisal'
          required: true

      responses:
        201:
          description: Successful creation
          schema:
            $ref: '#/definitions/Appraisal'
          examples:
            application/json:

              id: "7063984c-4eea-4abe-825b-e80612ba89c3"
              created_on: "2015-10-30T10:16:41+02:00"
              wine_year: 2013
              title: "un très très bon vin"
              description: "mais ce n'est pas du zinfandel !! c'est du PRIMITIVO !! le cépage ORIGINAL !!! Denner, qu'est ce qui vous arrive ???"
              rating: 5
              display_name: "Hans M."
              city: "Cossonay"
              language: "fr"

  ### Sweepstake participants
  /sweepstake-participants:
    post:
      summary: Create a new sweepstake participant
      description: >
        Use this operation to create a sweepstake participant (Gewinnspielteilnehmer).
      tags:
        - other
      operationId: createSweepstakeParticipant
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/ContentTypeHeader'
#        - $ref: '#/parameters/AcceptLanguageHeader'
        - name: participant
          description: >
            Data for the participant
          in: body
          schema:
            $ref: '#/definitions/NewSweepstakeParticipant'
          required: true

      responses:
        201:
          description: Successful creation
          schema:
            $ref: '#/definitions/SweepstakeParticipant'
          examples:
            application/json:

              id: "ed20c828-17b4-4a19-b403-ae223e1cfece"
              created_on: "2016-05-09T13:30:29+00:00"
              display_name: "Michelle M."
              city: "Zurich"
              language: "de"

parameters:
  PageParam:
    name: page
    description: >
      The page number.
      Default: 1
    in: query
    type: integer
    required: false
    format: int32
    minimum: 0
    default: 1
  PageSizeParam:
    name: page_size
    description: >
      The page size.
      Default: 10

      To disable pagination (when supported) send "-1".
    in: query
    type: integer
    required: false
    format: int32
    default: 10
#  SortParam:
#    name: sort
#    description: >
#      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
#    in: query
#    type: string
#    required: false
  ArticleIdPathParam:
    name: article_id
    description: The unique identifier of an article
    in: path
    type: string
    required: true
    pattern: '/^\d{6}$/'
  AcceptHeader:
    name: Accept
    in: header
    type: string
    required: false
    default: application/json
    description: >
      Accepted content type (supported is "application/json")
#  AcceptLanguageHeader:
#    name: Accept-Language
#    in: header
#    type: string
##    pattern: '/^(de|fr|it)$/'
#    required: false
#    default: de
#    description: >
#      Accepted locale (supported are "de", "fr", and "it")
  ContentTypeHeader:
    name: Content-Type
    in: header
    type: string
    required: false
    default: application/json
    description: >
      Request body content type (supported is "application/json")

definitions:
  ### Common
  UUIDv4:
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
    description: Unique identifier

#  Date:
#    type: string
#    format: date
#    description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'

#  Time:
#    type: string
#    pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
#    description: 'Time; Format HH:MM:SS'

  Year:
    type: integer
    format: int32
    minimum: 1800
    description: Year

#  Url:
#    type: string
##    pattern: @todo Fixed pattern?
#    description: Web URL address

  ### Wine
  Appraisal:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      created_on:
        type: string
        format: date-time
        description: Timestamp
      wine_year:
        $ref: '#/definitions/Year'
      title:
        type: string
        description: Title
      description:
        type: string
        description: Description
      rating:
        type: integer
        format: int32
        minimum: 1
        maximum: 5
        description: Given rating
      display_name:
        type: string
        description: Person's (public) name
      city:
        type: string
        description: Person's city
      language:
        type: string
        description: Locale

  NewAppraisal:
    type: object
    properties:
      wine_year:
        $ref: '#/definitions/Year'
      title:
        type: string
        description: Title
      description:
        type: string
        description: Description
      rating:
        type: integer
        format: int32
        minimum: 1
        maximum: 5
        description: Given rating
      firstname:
        type: string
        description: Person's first name
      lastname:
        type: string
        description: Person's last name
      address:
        type: string
        description: Person's address
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Person's ZIP code
      city:
        type: string
        description: Person's city
      email:
        type: string
        description: Person's email address
      gender:
        type: string
        description: Person's gender (either "male" or "female")
      shop_user_id:
        type: integer
        description: Identifier for the person's Wineshop user account
      language:
        type: string
        description: Locale
    required:
      - title
      - rating
    example:
      application/json:

        wine_year: 2013
        title: "un très très bon vin"
        description: "mais ce n'est pas du zinfandel !! c'est du PRIMITIVO !! le cépage ORIGINAL !!! Denner, qu'est ce qui vous arrive ???"
        rating: 5
        firstname: "Isabelle"
        lastname: "Rossetti"
        address: "3 rue du Temple"
        zip_code: "1304"
        city: "Cossonay"
        language: "fr"

  ### Sweepstake participant
  SweepstakeParticipant:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      created_on:
        type: string
        format: date-time
        description: Timestamp
      display_name:
        type: string
        description: Person's (public) name
      city:
        type: string
        description: Person's city
      language:
        type: string
        description: Locale

  NewSweepstakeParticipant:
    type: object
    properties:
      firstname:
        type: string
        description: Person's first name
      lastname:
        type: string
        description: Person's last name
      address:
        type: string
        description: Person's address
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Person's ZIP code
      city:
        type: string
        description: Person's city
      email:
        type: string
        description: Person's email address
      gender:
        type: string
        description: Person's gender (either "male" or "female")
      shop_user_id:
        type: integer
        description: Identifier for the person's Wineshop user account
      language:
        type: string
        description: Locale
    required:
      - firstname
      - lastname
      - address
      - zip_code
      - city
      - email
      - gender
    example:
      application/json:

        firstname: "Michelle"
        lastname: "Muster"
        address: "Bahnhofstrasse 7"
        zip_code: "8034"
        city: "Zurich"
        email: "email@gmx.ch"
        gender: "female"
        shop_user_id: 123456789
        language: "de"

  ### Collections
  Appraisals:
    type: array
    items:
      $ref: '#/definitions/Appraisal'

  ### Responses
  AppraisalsResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
      total_appraisals:
        description: The number of items on all pages
        type: integer
        format: int32
      appraisals:
        $ref: '#/definitions/Appraisals'
